.userheader{
    display: flex;
    align-items: center;
    padding: 5px 2.5%;
}

.userheader img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.userheader p {
    font-weight: 500;
    padding-left: 10px;
}