.comment-section-add-form{
    display: flex;
    border-top: 1px solid rgb(199, 199, 199);
    margin-top: 15px;
}
.comment-section-add{
    border: none;
    
    margin-top: 5px;
    padding: 15px;
    width: 95%;
    font-size: 16px;
}
.comment-section-add:focus,
.comment-section-add:active{
    outline: none;
    
}
.comment-section-add-button{
    border:none;
    background: none;
    font-size: 20px;
    font-weight: 500;
}
.comment-section-add-button:focus,
.comment-section-add-button:active{
    outline: none;
}