.comment-section-comment{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
span.comment-section-comment-user{
    font-weight: 500;
    padding-right: 10px;
    font-size: 16px;
}

.comment-section-comment-delete{
    width: 50px;
    border: none;
    background: none;
    height: 16px;
    font-size: 16px;
    align-self: baseline;
}
.comment-section-comment-delete:active,
.comment-section-comment-delete:hover{
    outline: none;
}